.mySection{
    background-color:#4d216d;
    background-image: url("../images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center center;
}